
@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,400,700';
	
	body{
		font-size: 16px;
		font-family: 'Work Sans', sans-serif;
		top: 0;
	}	

	.ham-container{
		position: fixed;
		z-index: 300;
		display: none;
	}
	.hamberguer{
		top: 1px;
		left: 30px;
		position: absolute;
		
	}
	#back-img{
		width: 100vw;
		max-height: 100vh;
		object-fit: cover;
		object-position:0 0%;
		position: absolute;
		left: 0;
	}


	#myTopNav{
	height: 60px;
	width: 100vw;
	position: fixed;
	background-color: #3FE0CD;
	text-align: center;
	z-index: 1;
	top: 0;
	
	}

	#intro-p{
		max-width: 25vw;
		font-size: 1em;
		text-align: left;
		position: absolute;
		margin-left: 37.5vw;
		z-index: 200;

		
	}

	.topNav a{
		text-decoration: none;
		font-size: 1em;
		color: white;
		display: inline-block;
		padding: 20px;
		font-family: Arial;
		
	}

	.topNav a:hover{
		color: navy;
	}

	#logo{
		position: absolute;
		padding: 15px;
		left: 40px;
		height: 30px;
	}

	#start{
		z-index: 400;
		position: absolute;
		margin-top: 85vh;
		font-size: 30px;
		width: 10vw;
		text-align: center;
		margin-left: 45vw;
		color: white;
		font-style: none;
		border: solid 3px;
		border-color: white;
		padding-top: 3px;
		padding-bottom: 3px;
		font-weight: 300;
	}

	#start:hover{
		border-color: #3FE0CD;
	}


	span{
		float: right;
		margin-right: 30px;
		margin-top: 10px;

	}

	#mySideNav{
	width: 0;
	height: 100vh;
	z-index: 100;
	background-color: black;
	opacity: 0.8;
	display: block;
	position: fixed;
	text-align: center;
	transition: width 1s; 
	overflow-x: hidden;
	z-index: 399;

	}

    #closeIcon{
    position: absolute;
    top: -30px;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
	}

	.sideNav a{
	text-decoration: none;
	font-size: 1.3em;
	color: white;
	display: block;
	padding: 5px;
	font-family: Work Sans;
	margin-top: 30px;

	}

	.sideNav a:hover{
	color: navy;
	}

/* home page */

	#home{
		width: 100%;
		height: 30vw;
		position: relative;
		text-align: center;


	}


	.fixed{
		position: fixed;
	}

	.big-text{
		font-size: 4vw;
		top: 13vw;
		font-family: 'Work Sans';
		position: absolute;
		color: dimgray;
		z-index: 2;
		left: 0;

		/*opacity: 0.5;*/
		padding-left: 10vw;
		padding-right: 1vw;
		z-index: 1;

	}

	.titles{
		font-size: 2em;
		top: 20px;
		font-family: 'Work Sans';
		position: relative;
		color: black;
		width: 80vw;
		margin-left: 10vw;
		text-align: left;
		background-color: gold;
	}
	.content{
		font-size: 1.3em;
		top: 20px;
		font-family: 'Work Sans';
		position: relative;
		color: dimgray;
		width: 80vw;
		margin-left: 10vw;
		text-align: left;

	}

@media screen and (max-width: 500px), screen and (max-device-width: 500px) and (orientation: landscape), screen and (max-device-height: 500px) and (orientation: landscape){

	.ham-container{
		display: inline-block;
		left: 0;
	}
		.topNav a{
		display: none;

		
	}

	#logo{
		display: none;
	}
}
